#content{}
#content .title_area{}
#content .content_area{width: 1200px; margin: 0 auto; position: relative}
#content .content_area .youtube{width: 1000px;height: 600px;margin: 0 auto}

#content .content_area>p{display: block; font-family: 'Nanum Gothic', sans-serif; font-weight: 600; color: #333; font-size: 2em; line-height: 3em; padding: 0 0 50px 100px}

#content .content_area .thumnail{width: 1100px; height: 500px; overflow: hidden; margin: 0 auto; padding: 0 0 0 50px}
#content .content_area .thumnail div a{display: block; float: left; margin-right: 5px}