
#content .content_area .history_list{ overflow: hidden; border-top: 1px solid green; border-bottom: 1px solid green; width: 600px; margin: 0 auto; text-align: center; font-family:'Roboto', sans-serif; font-size: 18px; font-weight: 300; color: #999}
#content .content_area .navOn{width: 100%; position: fixed;left: 0; top:0;background:#0e9711; z-index: 10; color: #fff }
#content .content_area .navOn a{padding: 20px 0; font-size:30px; color: #fff }
#content .content_area .history_list li .spy{background: #333; color:#fff; font-weight: bold; letter-spacing: -1px}
#content .content_area .history_list ul{text-align: center; margin: 0 auto}
#content .content_area .history_list li{font-family:'Roboto', sans-serif; font-size: 18px; font-weight: 300; color: #999}
#content .content_area .history_list li a{display: block; width: 33.3%; float: left; padding: 5px 0 10px}

#content .content_area{margin-top: -50px; }
#content .content_area div{background: url(../images/content2/bullet_03.jpg) center top no-repeat}



#content .content_area .history_dl{position: relative; width: 1200px; margin: 0 auto;}
#content .content_area .history_dl dl{margin: 0 auto; line-height: 2em}
#content .content_area .history_dl dl dt{font-family:'Roboto', sans-serif; font-size: 24px; font-weight: 700; color: #1c5a37; margin-top: 20px;margin-bottom: 24px}

#content .content_area .history_dl dl:nth-child(1){margin-left: 650px; margin-top: 50px}
#content .content_area .history_dl dl:nth-child(2){margin-right: 650px; text-align: right}
#content .content_area .history_dl dl:nth-child(3){margin-left:650px}
#content .content_area .history_dl dl:nth-child(4){margin-right: 650px; text-align: right}
#content .content_area .history_dl dl:nth-child(5){margin-left: 650px}
#content .content_area .history_dl dl:nth-child(6){margin-right: 650px; text-align: right}
#content .content_area .history_dl dl:nth-child(7){margin-left:650px}
#content .content_area .history_dl dl:nth-child(8){margin-right: 650px; text-align: right}
#content .content_area .history_dl dl:nth-child(9){margin-left: 650px}
#content .content_area .history_dl dl:nth-child(10){margin-right: 650px; text-align: right}
#content .content_area .history_dl dl:nth-child(11){margin-left: 650px}
#content .content_area .history_dl dl:nth-child(12){margin-left: 650px}
#content .content_area .history_dl dl:nth-child(13){margin-left: 650px}







